body {
  background-color: #9eb7c5;
  margin: 0;
}
.header {
  text-align: center;
}

.episode-search {
  margin-left: 2rem;
}

input {
  font-size: 1.2rem;
}

h2 {
  border: 1px solid;
  padding: 10px;
  box-shadow: inset rgb(148, 123, 123) 5px 10px 20px;
  text-align: center;
  border-radius: 6px;
}

img {
  width: auto;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.episode-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25%;
  border: 3px solid grey;
  border-radius: 6px;
  padding: 1.2rem;
  margin: 1rem auto;
  text-align: justify;
  background-color: #043958;
  color: white;
}

footer {
  background-color: #0072b5;
  overflow: auto;
  padding-bottom: 0.5rem;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}
footer hr {
  border: 0;
  border-top: 1px solid #758da5;
  margin: 1rem 0;
}

@media only screen and (max-width: 767px) {
  .episode-search {
    margin-left: 3.4rem;
  }

  .episode-container {
    width: 60%;
  }

  h1 {
    font-size: 1.5rem;
  }
}
